---
import About from "@components/About.astro";
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bla">
  <main>
    <Hero name="John" job="Software developer" city="NY" />
    <About name="John" />
  </main>
</Layout>

<style>
  main {
    font-family: "Inter", sans-serif;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Syne", sans-serif;
  }
</style>
