---
import Layout from "../layouts/Layout.astro";
const indexTitle = 'John Doe | Web developer'
---

<Layout title={indexTitle}>
  <main>
    <h1>Hello!</h1>
  </main>
</Layout>

<style>
  main {
    font-family: "Inter", sans-serif;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Syne", sans-serif;
  }
</style>
