---
---

<div
	id="about"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen md:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center md:mb-0 md:w-1/2">
		<h3 class="font-monospace text-2xl text-orange md:text-4xl">About me</h3>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>

		<img />

		<!-- <Button style={'primary'} size={'md'} class={'flex'}>
			Download my CV <svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="ml-1 h-6 w-6"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
				></path>
			</svg>
		</Button> -->
	</div>

	<div class="w-full text-justify text-navy dark:text-white md:w-1/2">
		<p class="mb-2">
			Welcome to my portfolio website! My name is John, and I am a web developer with a passion for
			creating beautiful and functional websites that make a difference in people's lives. I believe
			that the internet is one of the most powerful tools we have for connecting people and sharing
			information, and I am dedicated to using my skills to help others harness its potential. As a
			web developer, I am proficient in a wide range of programming languages and frameworks,
			including HTML, CSS, JavaScript, React, and Node.js.
		</p>

		<p>
			I am constantly learning and experimenting with new technologies, and I pride myself on
			staying up-to-date with the latest trends and best practices in web development. Whether you
			need a simple website for your small business or a complex web application for a large
			organization, I have the skills and expertise to deliver a high-quality solution that meets
			your unique needs. I am committed to working closely with my clients to understand their goals
			and vision, and to providing personalized support and guidance throughout the development
			process. Please take some time to explore my portfolio and learn more about the projects I
			have worked on. If you have any questions or would like to discuss a potential project, please
			don't hesitate to get in touch!
		</p>
	</div>
</div>
