---
import { t } from 'i18next';
---

<div
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen md:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center md:mb-0 md:w-1/2">
		<h3 class="font-monospace text-2xl text-orange md:text-4xl">{t('about.title')}</h3>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>

		<img />
	</div>

	<div class="w-full text-justify text-navy dark:text-white md:w-1/2">
		<p class="mb-2">
			{t('about.text')}
		</p>
	</div>
</div>
