---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Con experiencia en supervisión de proyectos y enseñanza en Crack The Code, destaco por abordar
			desafíos de gestión y análisis de manera efectiva. Especializado en la enseñanza de
			fundamentos y temas avanzados de programación, mi excelencia docente se refleja en
			reconocimientos y altas calificaciones estudiantiles. Actualmente, construyo una sólida base
			en diseño de sistemas, resolución de problemas e implementación, demostrando mi habilidad para
			crear y optimizar soluciones técnicas en proyectos exitosos con Java, AWS y React.js.
		</p>
	</div>
</section>
