---

---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-16 lg:mt-16 lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a product leader with a track record of success across e-commerce, cloud computing, and
			tech startups. I have driven innovation and accelerated growth for hardware and software
			products and delivered customer-centric solutions that drove revenues and reduced overall
			operating costs. I am skilled at building and leading high-performing teams and have extensive
			experience with public speaking and presenting business and technical concepts for various
			audiences.
		</p>
	</div>
</section>
