---
import Social from '@components/Social.astro';
import Form from '@components/ui/Form.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex h-screen flex-col items-center justify-around md:flex-row"
>
	<Form />
	<Social />
</section>
