---
import Button from "@components/ui/Button.astro";
---

<div id="contact" class="flex flex-col h-screen justify-center items-center">
  <Button style={"outline"} size={"lg"}>Contact me</Button>
</div>
