---
import { Icon } from 'astro-icon';
---

<div
	id="contact"
	class="mb-10 flex flex-col flex-wrap items-center justify-center gap-8 text-navy dark:text-white md:mb-0 md:h-screen md:flex-row md:gap-20"
>
	<h2 class="text-center">Find me at:</h2>
	<a href="https://github.com/" target="_blank" rel="noopener"
		><Icon class="h-8 md:h-12" name="simple-icons:github" /></a
	>
	<a href="https://www.linkedin.com/" target="_blank" rel="noopener"
		><Icon class="h-8 md:h-12" name="simple-icons:linkedin" /></a
	>
	<a href="https://twitter.com/" target="_blank" rel="noopener"
		><Icon class="h-8 md:h-12" name="simple-icons:twitter" /></a
	>
</div>
