<footer class="text-center text-sm">
	<p>
		Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
	</p>

	<p>
		Made by <a href="https://github.com/veranikabarel" target="_blank" rel="noopener">
			Veranika Kasparevych
		</a>
	</p>
</footer>
