<nav class="md:h-20 nav">
  <!-- MOBILE NAVIGATION -->
  <div class="p-6 md:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded hover:text-white hover:border-white mobile-menu-button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"></path>
      </svg>
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg> -->
    </button>
  </div>

  <div class="hidden mobile-menu h-screen">
    <ul class="p-4">
      <li>
        <a href="#about" class="px-2 py-4 hover:text-terracotta">About</a>
      </li>
      <li>
        <a href="#skills" class="px-2 py-4 hover:text-terracotta">Skills</a>
      </li>
      <li>
        <a href="#projects" class="px-2 py-4 hover:text-terracotta">Projects</a>
      </li>
      <li>
        <a href="#contact" class="px-2 py-4 hover:text-terracotta">Contact</a>
      </li>
    </ul>
  </div>

  <!-- TABLET AND DESKTOP NAVIGATION -->
  <div class="w-full h-full md:flex md:flex-row md:justify-center">
    <ul class="hidden md:flex md:items-center">
      <li>
        <a href="#about" class="p-4 hover:text-terracotta">About</a>
      </li>
      <li>
        <a href="#skills" class="p-4 hover:text-terracotta">Skills</a>
      </li>
      <li>
        <a href="#projects" class="p-4 hover:text-terracotta">Projects</a>
      </li>
      <li>
        <a href="#contact" class="p-4 hover:text-terracotta">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  const btn = document.querySelector("button.mobile-menu-button");
  const menu = document.querySelector(".mobile-menu");
  btn &&
    btn.addEventListener("click", () => {
      menu && menu.classList.toggle("hidden");
    });
</script>
