<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your logo</span>
        <img class="h-8 w-auto" src="" alt="" />
      </a>
    </div>
    <div class="lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">About</a
      >

      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Skills</a
      >

      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Projects</a
      >

      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Contact</a
      >
    </div>
  </nav>
</header>
