<nav class="hidden md:flex justify-center my-2">
  <a href="#about" class="p-2 m-2">About</a>
  <a href="#skills" class="p-2 m-2">Skills</a>
  <a href="#projects" class="p-2 m-2">Projects</a>
  <a href="#contact" class="p-2 m-2">Contact</a>
</nav>
