<header>
  <nav class="flex justify-center my-2">
    <a href="#" class="p-2 m-2">About</a>
    <a href="#" class="p-2 m-2">Skills</a>
    <a href="#" class="p-2 m-2">Projects</a>
    <a href="#" class="p-2 m-2">Contact</a>
  </nav>
</header>
