---
import Button from "@components/ui/Button.astro";
---

<div class="flex flex-col h-screen justify-center items-center m-4 md:m-4p-4">
  <div class="text-center flex-row mb-5">
    <h1 class="font-monospace text-3xl md:text-5xl text-terracotta">
      Hi! My name is John Doe and I am a web developer based in New York.
    </h1>
  </div>
  <div class="flex flex-col md:flex-row">
    <Button style={"primary"} size={"md"} class={"flex"}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 mr-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 15l-6 6m0 0l-6-6m6 6V9a6 6 0 0112 0v3"></path>
      </svg>
      Learn more
    </Button>
    <Button style={"primary"} size={"md"} class={"flex"}>
      Download my CV <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 ml-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
        ></path>
      </svg>
    </Button>
  </div>
</div>
