<div>
  <h1>Hi! My name is John Doe and I am a web developer based in New York.</h1>
  <div>
    <a href="#">Learn more</a>
    <a href="#">Download my CV <span aria-hidden="true">→</span></a>
  </div>
</div>
