<div class="flex flex-col h-screen justify-center items-center">
  <div class="flex-row mb-5">
    <h1>Hi! My name is John Doe and I am a web developer based in New York.</h1>
  </div>
  <div class="flex-row">
    <button class="p-2 m-1 border">Learn more</button>
    <button class="p-2 m-1 border">Download my CV</button>
  </div>
</div>
