---
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Skillls',
		path: '#skills',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
---

<header class="flex flex-col justify-center p-4 md:flex-row">
	<Astronav>
		<div class="flex md:hidden">
			<MenuIcon class="h-6 w-6" />
		</div>
		<MenuItems class="mt-2 hidden md:flex md:w-auto">
			<ul class="flex flex-col md:flex-row md:gap-3">
				{
					menuitems.map((item) => (
						<>
							{item && (
								<li>
									<a href={item.path} class="py-2md flex hover:text-terracotta md:px-3">
										{item.title}
									</a>
								</li>
							)}
						</>
					))
				}
			</ul>
		</MenuItems>
	</Astronav>
</header>
