---
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import Toggle from './ui/ToggleTheme.astro';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Skillls',
		path: '#skills',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
---

<header class="flex flex-col p-6 md:flex-row md:justify-between">
	<Astronav>
		<div class="mb-2 md:hidden">
			<MenuIcon class="h-6 w-6 text-navy dark:text-white" />
		</div>
	</Astronav>
	<MenuItems class="hidden md:flex">
		<ul class="flex flex-col text-navy dark:text-white md:flex-row md:gap-3">
			{
				menuitems.map((item) => (
					<>
						{item && (
							<li>
								<a href={item.path} class="py-2md flex hover:text-terracotta md:px-3">
									{item.title}
								</a>
							</li>
						)}
					</>
				))
			}
		</ul>
	</MenuItems>
	<Toggle />
</header>
