<div
  id="projects"
  class="flex flex-col items-center h-screen justify-center m-4 p-4 my-2"
>
  <h3 class="font-monospace text-terracotta text-2xl md:text-4xl">Projects</h3>

  <div class="flex flex-col text-center md:flex-row justify-around w-full">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="" alt="" />
      <div class="px-6 py-4">
        <div class="mb-2">Project name</div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="" alt="" />
      <div class="px-6 py-4">
        <div class="mb-2">Project name</div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="" alt="" />
      <div class="px-6 py-4">
        <div class="mb-2">Project name</div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>
  </div>
</div>
