<div id="skills" class="flex flex-col items-center h-screen justify-center">
  <h3 class="font-monospace text-terracotta text-2xl md:text-4xl">Skills</h3>
  <span class="h-1 w-10 bg-terracotta mb-10"></span>
  <div class="flex flex-col text-center md:flex-row justify-around w-full">
    <div class="mb-4">
      <h5 class="mb-2 text-xl md:mb-4">Soft skills</h5>
      <ul>
        <li>Communication</li>
        <li>Collaboration</li>
        <li>Creativity</li>
        <li>Attention to detail</li>
        <li>Adaptability</li>
        <li>Empathy</li>
      </ul>
    </div>

    <div class="mb-4">
      <h5 class="mb-2 text-xl md:mb-4">Technologies</h5>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
      </ul>
    </div>

    <div class="mb-4">
      <h5 class="mb-2 text-xl md:mb-4">Tools</h5>
      <ul>
        <li>Git</li>
        <li>Webpack</li>
        <li>Vite</li>
        <li>Docker</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>
</div>
