<div id="skills" class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen">
	<h3 class="font-monospace text-2xl text-terracotta md:text-4xl">Skills</h3>
	<span class="mb-10 h-1 w-10 bg-terracotta"></span>
	<div class="flex w-full flex-col justify-around text-center md:flex-row">
		<div class="mb-4">
			<h5 class="mb-2 text-xl md:mb-4">Soft skills</h5>
			<ul>
				<li>Communication</li>
				<li>Collaboration</li>
				<li>Creativity</li>
				<li>Attention to detail</li>
				<li>Adaptability</li>
				<li>Empathy</li>
			</ul>
		</div>

		<div class="mb-4">
			<h5 class="mb-2 text-xl md:mb-4">Technologies</h5>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>React</li>
			</ul>
		</div>

		<div class="mb-4">
			<h5 class="mb-2 text-xl md:mb-4">Tools</h5>
			<ul>
				<li>Git</li>
				<li>Webpack</li>
				<li>Vite</li>
				<li>Docker</li>
				<li>Figma</li>
			</ul>
		</div>
	</div>
</div>
