<div class="flex flex-col items-center h-screen m-4 p-4 my-2">
  <h3 class="mb-2">Skills</h3>
  <div class="flex flex-row justify-around w-full">
    <div>
      <h5 class="">Soft skills</h5>
      <ul>
        <li>Communication</li>
        <li>Collaboration</li>
        <li>Creativity</li>
        <li>Attention to detail</li>
        <li>Adaptability</li>
        <li>Empathy</li>
      </ul>
    </div>

    <div>
      <h5 class="">Technologies</h5>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
      </ul>
    </div>

    <div>
      <h5 class="">Tools</h5>
      <ul>
        <li>Git</li>
        <li>Webpack</li>
        <li>Vite</li>
        <li>Docker</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>
</div>
