---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { HeadHrefLangs } from 'astro-i18next/components';
import i18next from 'i18next';

export interface LayoutProps {
	title: string;
}

const { title = 'John Doe | Web developer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<HeadHrefLangs />
		<title>{title}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-navy xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
