---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';

export interface LayoutProps {
	title: string;
}

const { title = 'John Doe | Web developer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter&family=Syne&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<script>
			const themeSwitcher = document.getElementById('themeSwitcher');
			themeSwitcher &&
				themeSwitcher.addEventListener('click', () => {
					if (localStorage.theme === 'light') {
						localStorage.setItem('theme', 'dark');
						document.documentElement.classList.add('dark');
					} else {
						document.documentElement.classList.remove('dark');
						localStorage.setItem('theme', 'light');
					}
				});
		</script>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-navy xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
