<button
	data-testId="back-to-top-button"
	type="button"
	aria-label="back to top button"
	data-mdb-ripple="true"
	data-mdb-ripple-color="light"
	class="fixed bottom-5 right-5 inline-block rounded-full bg-black p-3 text-xs font-medium uppercase leading-tight shadow-md transition duration-150 ease-in-out hover:bg-orange hover:shadow-lg focus:outline-none focus:ring-0 dark:bg-orange dark:hover:bg-white dark:hover:text-black"
	id="btn-back-to-top"
>
	<svg
		aria-hidden="true"
		focusable="false"
		data-prefix="fas"
		class="h-4 w-4"
		role="img"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 448 512"
		><path
			fill="currentColor"
			d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
		></path></svg
	>
</button>

<script>
	let mybutton = document.getElementById('btn-back-to-top') as HTMLButtonElement;
	window.onscroll = function (event) {
		event.preventDefault();
		scrollFunction();
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			mybutton.style.display = 'block';
		} else {
			mybutton.style.display = 'none';
		}
	}

	mybutton.addEventListener('click', backToTop);

	function backToTop(event) {
		event.preventDefault();
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
