---
interface Props {
	size?: 'sm' | 'md' | 'lg';
	block?: boolean;
	style?: 'primary';
	class?: string;
	[x: string]: any;
}

const { size = 'md', style = 'primary', block, class: className, ...rest } = Astro.props;

const sizes = {
	sm: 'px-4 py-1.5',
	md: 'px-5 py-2.5',
	lg: 'px-6 py-3',
};

const styles = {
	primary: 'bg-black text-white hover:bg-orange  border-2 border-transparent',
};
---

<button
	{...rest}
	class:list={[
		'rounded-xl text-center transition focus-visible:ring-2 ring-offset-2 ring-orange',
		block && 'w-full',
		sizes[size],
		styles[style],
		className,
	]}
	><slot />
</button>
