---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<div class="mt-2 flex w-2/3 flex-row flex-wrap justify-between">
			{tags.map((tag) => (
				<span class="inline-block rounded py-2 text-xs text-black  lg:py-1">#{tag}</span>
			))}
		</div>
	)
}
