---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<div class="mt-2 flex flex-row flex-wrap items-start justify-center gap-4 lg:gap-2">
			{tags.map((tag) => (
				<a
					href={''}
					class="inline-block rounded px-2 py-2 text-xs  text-navy hover:text-black lg:py-1"
				>
					#{tag}
				</a>
			))}
		</div>
	)
}
