<div class="theme-switch-wrapper hidden md:flex md:items-center">
	<label class="theme-switch relative inline-block h-[34px] w-[60px]" for="checkbox">
		<input type="checkbox" id="checkbox" class="hidden" />
		<div
			class="slider dark:bg-terracotta absolute bottom-0 left-0 right-0 top-0 cursor-pointer rounded-[34px] bg-orange before:absolute before:bottom-[4px] before:left-[4px] before:h-[26px] before:w-[26px] before:rounded-full before:bg-white before:transition-[0.4s]"
		>
			<circle cx="12" cy="12" r="5"></circle>
			<line x1="12" y1="1" x2="12" y2="3"></line>
			<line x1="12" y1="21" x2="12" y2="23"></line>
			<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
			<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
			<line x1="1" y1="12" x2="3" y2="12"></line>
			<line x1="21" y1="12" x2="23" y2="12"></line>
			<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
			<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
		</div>
		<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
	</label>
</div>

<style>
	input:checked + .slider:before {
		transform: translateX(26px);
	}
</style>

<script>
	const themeToggle = document.querySelector(
		'.theme-switch input[type="checkbox"]'
	) as HTMLInputElement;
	const currentTheme = localStorage.getItem('theme');
	if (currentTheme) {
		document.documentElement.setAttribute('class', currentTheme);
		if (currentTheme === 'dark') {
			themeToggle && themeToggle.checked;
		}
	}

	function switchTheme(e) {
		if (e.target.checked) {
			document.documentElement.setAttribute('class', 'dark');
			localStorage.setItem('theme', 'dark');
			document.documentElement.classList.add('scroll-smooth');
		} else {
			document.documentElement.removeAttribute('class');
			localStorage.setItem('theme', 'light');
			document.documentElement.classList.add('scroll-smooth');
		}
	}

	themeToggle.addEventListener('change', switchTheme);
</script>

<!-- <script> 
	document.addEventListener('DOMContentLoaded', function ready() {
		const button = document.querySelector(
			'.theme-switch input[type="checkbox"]'
		) as HTMLInputElement;

		button.addEventListener('click', () => {
			document.documentElement.classList.toggle('dark');
			localStorage.setItem('theme', 'dark');
		});
	});
</script> -->
